.bg_main{
    background: url(./img/Group\ 1\ 9bg_main.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 130px;
}
.bg_main2{
    background: url(./img/Group\ 13bg_main2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.bg2{
    background: url(./img/Group\ 74.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px;
}
.bg3{
    background: url(./img/Group\ 18.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}
.bg4{
    background: url(./img/deded.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px;
}
